table.sortable {
	border-top: none;
	width: 100%;
}

table.sortable td, table.sortable th {
	padding: 10px;
}

table.sortable thead tr .header {
	background-image: url("bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	border:1px solid #fff;
}

table.sortable thead tr .headerSortUp {
	background-image: url("asc.gif");
}

table.sortable thead tr .headerSortDown {
	background-image: url("desc.gif");
}

.searchable-header {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	overflow:hidden;
	padding:10px;
}

